@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-Super.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-SuperSlanted.woff2') format('woff2');
    font-weight: 900;
    font-style: oblique;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-BlackSlanted.woff2') format('woff2');
    font-weight: 800;
    font-style: oblique;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-ExtraBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-ExtraBoldSlanted.woff2') format('woff2');
    font-weight: 700;
    font-style: oblique;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-BoldSlanted.woff2') format('woff2');
    font-weight: 600;
    font-style: oblique;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-MediumSlanted.woff2') format('woff2');
    font-weight: 500;
    font-style: oblique;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-RegularSlanted.woff2') format('woff2');
    font-weight: 400;
    font-style: oblique;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-LightSlanted.woff2') format('woff2');
    font-weight: 300;
    font-style: oblique;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-Thin.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-ThinSlanted.woff2') format('woff2');
    font-weight: 200;
    font-style: oblique;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('Objectivity-ThinSlanted.woff2') format('woff2');
    font-weight: 100;
    font-style: oblique;
}
