@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-Light.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-CondensedBold.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-UltraCondensed.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-UltraCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-CondensedOblique.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-CondensedOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-Oblique.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-BlackExt.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-BlackExt.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-LightOblique.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-BlackExtObl.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-BlackExtObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-BlackOblique.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-BlackOblique.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-BoldOblique.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-Bold.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-BoldExtObl.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-BoldExtObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-Black.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-Condensed.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-ExtraBlackExt.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-ExtraBlackExt.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-LightUltraCondensed.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-LightUltraCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-ExtraBlackExtObl.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-ExtraBlackExtObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-CondensedLightOblique.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-CondensedLightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-ExtraBlack.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-CondensedLight.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-ThinUltraCondensed.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-ThinUltraCondensed.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-CondensedBoldOblique.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-CondensedBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-BoldExt.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-BoldExt.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-Extended.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-Extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-ExtraBlackObl.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-ExtraBlackObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-ExtendedObl.woff2') format('woff2'),
        url('https://cdn.rawgit.com/enxinas/custom-fonts-css/304eae1e/Univers-ExtendedObl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

