@font-face {
    font-family: 'Univers';
    src: url('Univers-Light.woff2') format('woff2'),
        url('Univers-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-CondensedBold.woff2') format('woff2'),
        url('Univers-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-UltraCondensed.woff2') format('woff2'),
        url('Univers-UltraCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-CondensedOblique.woff2') format('woff2'),
        url('Univers-CondensedOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-Oblique.woff2') format('woff2'),
        url('Univers-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-BlackExt.woff2') format('woff2'),
        url('Univers-BlackExt.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-LightOblique.woff2') format('woff2'),
        url('Univers-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-BlackExtObl.woff2') format('woff2'),
        url('Univers-BlackExtObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-BlackOblique.woff2') format('woff2'),
        url('Univers-BlackOblique.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-BoldOblique.woff2') format('woff2'),
        url('Univers-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers.woff2') format('woff2'),
        url('Univers.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-Bold.woff2') format('woff2'),
        url('Univers-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-BoldExtObl.woff2') format('woff2'),
        url('Univers-BoldExtObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-Black.woff2') format('woff2'),
        url('Univers-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-Condensed.woff2') format('woff2'),
        url('Univers-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-ExtraBlackExt.woff2') format('woff2'),
        url('Univers-ExtraBlackExt.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-LightUltraCondensed.woff2') format('woff2'),
        url('Univers-LightUltraCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-ExtraBlackExtObl.woff2') format('woff2'),
        url('Univers-ExtraBlackExtObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-CondensedLightOblique.woff2') format('woff2'),
        url('Univers-CondensedLightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-ExtraBlack.woff2') format('woff2'),
        url('Univers-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-CondensedLight.woff2') format('woff2'),
        url('Univers-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-ThinUltraCondensed.woff2') format('woff2'),
        url('Univers-ThinUltraCondensed.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-CondensedBoldOblique.woff2') format('woff2'),
        url('Univers-CondensedBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-BoldExt.woff2') format('woff2'),
        url('Univers-BoldExt.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-Extended.woff2') format('woff2'),
        url('Univers-Extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-ExtraBlackObl.woff2') format('woff2'),
        url('Univers-ExtraBlackObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('Univers-ExtendedObl.woff2') format('woff2'),
        url('Univers-ExtendedObl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

